
nav.top-nav
  h1.text-title.is-inverted.is-uppercase  
   <a href="/" data-navigo onclick="window.location.href='/'"></a>  

  div.form-search
    i.material-icons search
    <form>
    input#search(placeholder="Search Videos...",type="text")
    <input type="submit" style="display: none" />
    </form>